*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: #073763;
  --link-blue: #3a6a96;
  --mid-blue: #6e9bc4;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
}
.form-background {
  /*change here*/
  width: 100vw;
  min-height: 100vh;

  background-color: rgb(238, 238, 238);
  padding: 5vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.form-content {
  width: min(100%, 60rem);
}

p {
  margin-bottom: 1.5rem;
}
form {
  display: flow-root;
  width: 100%;
  color: gray;
}
form * {
  display: block;
}

label[for="email"] {
  color: gray;
  font-size: 0.9rem;
  margin-bottom: 0;
}

input {
  width: 100%;
  height: 3rem;

  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;

  background-color: transparent;
  outline: none;
  border: none;

  font-size: 1.1rem;

  border-bottom: 1px solid var(--dark-blue);
  color: var(--dark-blue);

  transition: border-width 0.05s;
}
input:focus {
  border-width: 2px;
  padding-bottom: calc(0.5rem - 1px);
}

.submit-btn {
  padding: 1em;
  margin-bottom: 1rem;

  background-color: var(--mid-blue);

  border: none;
  border-radius: 0.2rem;

  box-shadow: 0 3px 5px gray;

  transition: background-color 0.2s;

  font-size: 1rem;
  color: white;
}
.submit-btn:hover {
  background-color: var(--dark-blue);
}
